[Research On] 뉴스 크롤링 - 1단계 _ Serper + Naver _ Gemini 자료 평가 → 최종 20개 출력.json
{
  "name": "[Research On] 뉴스 크롤링 - 1단계 : Serper + Naver / Gemini 자료 평가 → 최종 20개 출력",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.scoring_prompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "너는 리서치 후보 자료의 관련도와 활용성을 평가한다. 반드시 JSON 객체만 출력한다."
            }
          ]
        },
        "batching": {}
      },
      "id": "e05654d8-60fe-48ab-ad8f-55da893b6e30",
      "name": "8. Basic LLM Chain - 후보 자료 AI 평가",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        59904,
        864
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {
          "temperature": 0.1
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        59904,
        992
      ],
      "id": "c187e2ec-ac1b-44f9-a138-87b96362a8f3",
      "name": "Google Gemini - Scoring",
      "credentials": {
        "googlePalmApi": {
          "id": "UmQBA3vsLpvPlcZz",
          "name": "Google Gemini 90일 무료(7/14~)"
        }
      }
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst meta = $('7-D. Code - 날짜 파싱 + 후보 병합').first().json;\nconst raw = $json.text || $json.output || $json.response || $json.result || JSON.stringify($json);\n\nfunction repairJsonText(input) {\n  let s = String(input || '')\n    .replace(/^\\uFEFF/, '')\n    .replace(/^```json\\s*/i, '')\n    .replace(/^```\\s*/i, '')\n    .replace(/```$/i, '')\n    .trim();\n  const first = s.indexOf('{');\n  const last = s.lastIndexOf('}');\n  if (first >= 0 && last >= first) s = s.slice(first, last + 1);\n  s = s\n    .replace(/\\bNone\\b/g, 'null')\n    .replace(/\\bTrue\\b/g, 'true')\n    .replace(/\\bFalse\\b/g, 'false')\n    .replace(/,\\s*([}\\]])/g, '$1')\n    .replace(/}\\s*{/g, '},{')\n    .replace(/]\\s*\\[/g, '],[')\n    .replace(/}\\s*\"/g, '},\"')\n    .replace(/]\\s*\"/g, '],\"')\n    .replace(/\"(\\s+)\"/g, '\",$1\"');\n  let out = '';\n  let inString = false;\n  let escaped = false;\n  for (let i = 0; i < s.length; i++) {\n    const ch = s[i];\n    if (inString) {\n      if (escaped) { out += ch; escaped = false; continue; }\n      if (ch === '\\\\') { out += ch; escaped = true; continue; }\n      if (ch === '\"') { inString = false; out += ch; continue; }\n      if (ch === '\\n') { out += '\\\\n'; continue; }\n      if (ch === '\\r') continue;\n      if (ch === '\\t') { out += '\\\\t'; continue; }\n      out += ch;\n    } else {\n      if (ch === '\"') inString = true;\n      out += ch;\n    }\n  }\n  return out;\n}\n\nfunction parseJson(str) {\n  if (typeof str !== 'string') return str;\n  const repaired = repairJsonText(str);\n  try {\n    return JSON.parse(repaired);\n  } catch (e) {\n    const secondPass = repaired\n      .replace(/}\\s*,?\\s*(?={)/g, '},')\n      .replace(/]\\s*,?\\s*(?=\"scores\")/g, '],');\n    return JSON.parse(secondPass);\n  }\n}\n\nlet ai = { scores: [] };\nlet aiEvaluationFailed = false;\ntry { ai = parseJson(raw); } catch(e) { ai = { scores: [] }; aiEvaluationFailed = true; }\n\nconst scoreMap = new Map();\nfor (const s of (ai.scores || [])) {\n  if (s.url) scoreMap.set(String(s.url), s);\n  if (s.no) scoreMap.set(String(s.no), s);\n}\n\nconst finalMax = meta.final_max || 20;\nconst list = (meta.candidates || []).map((item, idx) => {\n  const s = scoreMap.get(item.url) || scoreMap.get(String(idx+1)) || {};\n  const aiRel = Number(s.ai_relevance_score ?? 60);\n  const companyFit = Number(s.company_fit_score ?? 60);\n  const aiUse = Number(s.ai_usefulness_score ?? 60);\n  const aiScore = Math.max(0, Math.min(100, (aiRel*0.35 + companyFit*0.35 + aiUse*0.30))) / 100;\n  const finalScore = Math.min(1, item.heuristic_score*0.45 + aiScore*0.55);\n  let label = s.recommendation_label;\n  if (!label) {\n    if (finalScore >= 0.85) label = '강력추천';\n    else if (finalScore >= 0.70) label = '추천';\n    else if (finalScore >= 0.55) label = '검토필요';\n    else label = '제외권장';\n  }\n  return {\n    rank: 0,\n    title: item.title,\n    url: item.url,\n    summary: item.summary,\n    content: item.summary,\n    published_date: item.published_date,\n    source: item.source,\n    sources: item.sources || [item.source],\n    score: Math.round(finalScore*1000)/1000,\n    heuristic_score: item.heuristic_score,\n    ai_relevance_score: aiRel,\n    company_fit_score: companyFit,\n    ai_usefulness_score: aiUse,\n    recommendation_label: label,\n    recommendation_reason: s.recommendation_reason || '',\n    risk_note: s.risk_note || '',\n    source_quality_score: item.source_quality_score,\n    keyword_match_score: item.keyword_match_score,\n    freshness_score: item.freshness_score,\n    content_depth_score: item.content_depth_score,\n    domain: item.domain,\n    publisher: item.publisher || null,\n    date_validation: item.date_validation\n  };\n}).filter(x => x.recommendation_label !== '제외권장')\n  .sort((a,b) => b.score - a.score)\n  .slice(0, finalMax)\n  .map((x,i) => ({ ...x, rank: i+1 }));\n\nreturn {\n  success: true,\n  ai_evaluation_status: aiEvaluationFailed ? 'FAILED_FALLBACK_TO_HEURISTIC' : 'OK',\n  keyword: meta.keyword,\n  search_intent: meta.search_intent,\n  ko_queries: meta.ko_queries,\n  en_queries: meta.en_queries,\n  total: list.length,\n  original_count: meta.original_count,\n  candidate_count: meta.candidate_count,\n  serper_count: meta.serper_count,\n  naver_news_count: meta.naver_news_count,\n  naver_web_count: meta.naver_web_count,\n  naver_count: meta.naver_count,\n  duplicate_count: meta.duplicate_count,\n  date_filtered_count: meta.date_filtered_count,\n  excluded_keyword_count: meta.excluded_keyword_count,\n  searched_at: new Date().toISOString(),\n  analysis_viewpoint: meta.analysis_viewpoint,\n  report_type: meta.report_type,\n  audience_level: meta.audience_level,\n  report_depth: meta.report_depth,\n  action_orientation: meta.action_orientation,\n  risk_sensitivity: meta.risk_sensitivity,\n  company_context_doc_id: meta.company_context_doc_id || '',\n  extracted_date_range: meta.extracted_date_range || null,\n  effective_start_date: meta.effective_start_date || meta.start_date || null,\n  effective_end_date:   meta.effective_end_date   || meta.end_date   || null,\n  company_context_loaded: meta.company_context_loaded || false,\n  company_context_chars: meta.company_context_chars || 0,\n  list\n};\n"
      },
      "id": "9d5f2b33-ce22-4f24-8427-8d75f3f35816",
      "name": "9. Code - AI 평가 병합 + 최종 응답 구성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60208,
        864
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {
          "responseCode": 200,
          "responseHeaders": {
            "entries": [
              {
                "name": "Content-Type",
                "value": "application/json"
              },
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "id": "58522f52-44c8-47a5-bf8d-5ea8bfb8c023",
      "name": "10. Respond to Webhook - 결과 반환",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        60448,
        864
      ]
    },
    {
      "parameters": {
        "jsCode": "// 7-A에서 URL 패턴 날짜 검증 완료 → 그대로 전달\n// scoring_prompt 재생성을 위해 candidates 기반으로 scoringInput 업데이트\nconst prev = $('7-A. Code - 날짜 미상 기사 분리').first().json;\nconst candidates = prev.candidates || [];\n\n// candidate_rank 재부여\nconst reranked = candidates\n  .sort((a, b) => b.heuristic_score - a.heuristic_score)\n  .map((x, i) => ({ ...x, candidate_rank: i + 1 }));\n\nreturn {\n  ...prev,\n  candidates: reranked,\n  candidate_count: reranked.length\n};"
      },
      "id": "c7ed214c-6c82-4e05-99d4-ded84714b726",
      "name": "7-D. Code - 날짜 파싱 + 후보 병합",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        60160,
        1136
      ]
    },
    {
      "parameters": {
        "jsCode": "// HTTP 접속 방식 제거됨 - 7-A에서 URL 패턴으로 날짜 검증 완료\nreturn $input.first().json;"
      },
      "id": "9b645886-971c-473d-a86c-27b77a52847a",
      "name": "7-C. Code - 패스스루",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        59920,
        1136
      ]
    },
    {
      "parameters": {
        "jsCode": "// 7-A 결과를 그대로 전달 (HTTP 접속 방식 제거됨)\nreturn $input.first().json;"
      },
      "id": "2db73995-c4b6-45af-a338-40a0b77e8665",
      "name": "7-B. Code - 날짜 미상 URL 분리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        59680,
        1136
      ]
    },
    {
      "parameters": {
        "jsCode": "// 날짜 미상 기사에 URL 패턴으로 날짜 추출 시도\n// HTTP 접속 없이 URL에서 날짜를 파싱해서 바로 검증\nconst prev = $input.first().json;\nconst candidates = prev.candidates || [];\n\nfunction extractDateFromUrl(url) {\n  const s = String(url || '');\n  // 슬래시 구분 패턴: /2013/03/22/\n  let m = s.match(/\\/(20\\d{2})\\/([01]\\d)\\/([0-3]\\d)\\//);\n  if (m) {\n    const d = new Date(Number(m[1]), Number(m[2])-1, Number(m[3]));\n    if (!isNaN(d.getTime())) return d.toISOString();\n  }\n  // 연속 8자리: 20260507\n  m = s.match(/(20\\d{2})([01]\\d)([0-3]\\d)/);\n  if (m) {\n    const y=Number(m[1]), mo=Number(m[2]), d2=Number(m[3]);\n    if (mo>=1&&mo<=12&&d2>=1&&d2<=31) {\n      const d = new Date(y, mo-1, d2);\n      if (!isNaN(d.getTime())) return d.toISOString();\n    }\n  }\n  // 구분자 패턴: 2013-03-22\n  m = s.match(/(20\\d{2})[-_.](0[1-9]|1[0-2])[-_.](0[1-9]|[12]\\d|3[01])/);\n  if (m) {\n    const d = new Date(Number(m[1]), Number(m[2])-1, Number(m[3]));\n    if (!isNaN(d.getTime())) return d.toISOString();\n  }\n  return null;\n}\n\n// 날짜 범위 필터\nconst filterStart = prev.start_date ? new Date(prev.start_date) : null;\nconst filterEnd   = prev.end_date   ? new Date(prev.end_date + 'T23:59:59') : null;\n\nfunction isInRange(dateStr) {\n  const hasDateFilter = !!(filterStart || filterEnd);\n  if (!dateStr) {\n    // 기간 필터 설정 시 날짜 미상 제외\n    return !hasDateFilter;\n  }\n  try {\n    const d = new Date(dateStr);\n    if (isNaN(d.getTime())) return !hasDateFilter;\n    if (filterStart && d < filterStart) return false;\n    if (filterEnd   && d > filterEnd)   return false;\n    return true;\n  } catch(e) { return !hasDateFilter; }\n}\n\nlet urlDateFound = 0;\nlet urlDateFiltered = 0;\n\nconst verified = candidates.map(item => {\n  // 이미 날짜 있으면 그대로\n  if (item.published_date && item.date_validation !== 'unknown_date') return item;\n  // URL에서 날짜 추출 시도\n  const urlDate = extractDateFromUrl(item.url);\n  if (urlDate) {\n    urlDateFound++;\n    return { ...item, published_date: urlDate, date_validation: 'verified_from_url' };\n  }\n  return item;\n}).filter(item => {\n  const inRange = isInRange(item.published_date);\n  if (!inRange) urlDateFiltered++;\n  return inRange;\n});\n\nreturn {\n  ...prev,\n  candidates: verified,\n  candidate_count: verified.length,\n  url_date_found: urlDateFound,\n  url_date_filtered: urlDateFiltered\n};"
      },
      "id": "07104c49-b70b-4ede-8140-e29126b52c6f",
      "name": "7-A. Code - 날짜 미상 기사 분리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        59440,
        1136
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\n// =============================================\n// 8-B. Google Docs 회사 맥락 병합 + AI 평가 프롬프트 재조립\n// =============================================\n\nconst prev = $('7-D. Code - 날짜 파싱 + 후보 병합').first().json;\n\nfunction extractTextFromGoogleDocsBody(body) {\n  const chunks = [];\n  const walk = (node) => {\n    if (!node || typeof node !== 'object') return;\n    if (node.textRun && typeof node.textRun.content === 'string') {\n      chunks.push(node.textRun.content);\n      return;\n    }\n    for (const key of Object.keys(node)) {\n      const value = node[key];\n      if (Array.isArray(value)) value.forEach(walk);\n      else if (value && typeof value === 'object') walk(value);\n    }\n  };\n  walk(body);\n  return chunks.join('');\n}\n\nfunction pickText(obj) {\n  if (typeof obj === 'string') return obj;\n  if (!obj || typeof obj !== 'object') return '';\n  if (typeof obj.content === 'string') return obj.content;\n  if (typeof obj.text === 'string') return obj.text;\n  if (typeof obj.data === 'string') return obj.data;\n  if (typeof obj.body === 'string') return obj.body;\n  if (obj.body && Array.isArray(obj.body.content)) return extractTextFromGoogleDocsBody(obj.body);\n  if (Array.isArray(obj.content)) return extractTextFromGoogleDocsBody({ content: obj.content });\n  return JSON.stringify(obj);\n}\n\nfunction cleanContext(text) {\n  return String(text || '')\n    .replace(/\\r/g, '\\n')\n    .replace(/\\n{3,}/g, '\\n\\n')\n    .replace(/[ \\t]+/g, ' ')\n    .trim()\n    .slice(0, 6000);\n}\n\nfunction looksLikeGoogleErrorOrHtml(text) {\n  const s = String(text || '').slice(0, 2000);\n  return (\n    s.includes('window[\\'ppConfig\\']') ||\n    s.includes('페이지를 찾을 수 없음') ||\n    s.includes('현재 파일을 열 수 없습니다') ||\n    s.includes('<!DOCTYPE html') ||\n    s.includes('<html') ||\n    s.includes('Bad request') ||\n    s.includes('The resource you are requesting could not be found')\n  );\n}\n\nconst googleDocsNodeFailed = !!($json.error || $json.message?.includes?.('Bad request'));\nlet companyContextRaw = googleDocsNodeFailed ? '' : pickText($json);\nif (looksLikeGoogleErrorOrHtml(companyContextRaw)) companyContextRaw = '';\n\nconst companyContext = cleanContext(companyContextRaw) || `[회사 업무 맥락]\n- 회사 맥락 문서를 불러오지 못했습니다. 이 경우 검색 키워드와 분석 관점만 기준으로 평가합니다.\n- Google Docs 문서를 사용하려면 Webhook body에 company_context_doc_id 또는 company_context_doc_url을 전달하세요.\n- Google Docs 노드에는 반드시 접근 권한이 있는 Google OAuth2 credential을 연결하세요.\n- 문서가 Google Docs 원본문서가 아니라 Drive에 업로드된 DOCX/PDF라면 Google Docs 노드가 실패할 수 있습니다.`;\n\nconst candidates = prev.candidates || [];\nconst scoringInput = candidates.map((x,i) => ({\n  no: i+1,\n  title: x.title,\n  url: x.url,\n  summary: x.summary,\n  source: x.source,\n  sources: x.sources,\n  published_date: x.published_date,\n  domain: x.domain,\n  heuristic_score: x.heuristic_score,\n  source_quality_score: x.source_quality_score,\n  keyword_match_score: x.keyword_match_score,\n  freshness_score: x.freshness_score,\n  date_validation: x.date_validation\n}));\n\nconst scoringPrompt = `너는 기업 보직자용 리서치 자료를 선별하는 분석가다.\n아래 회사 업무 맥락과 검색 의도를 기준으로 후보 자료를 평가하라.\n\n[회사 업무 맥락]\n${companyContext}\n\n[검색 기간]\n${prev.start_date ? `${prev.start_date} ~ ${prev.end_date || '현재'}` : '기간 미설정'}\n※ date_validation이 unknown_date인 기사는 이 기간 외 자료일 수 있음\n\n[검색 의도]\n${prev.search_intent || prev.keyword || ''}\n\n[핵심 키워드]\n${(prev.core_keywords || []).join(', ')}\n\n[확장 키워드]\n${(prev.expansion_keywords || []).join(', ')}\n\n[제외 키워드]\n${(prev.must_exclude || prev.exclude_keywords || []).join(', ')}\n\n[분석 관점]\n${prev.analysis_viewpoint}\n\n[평가 기준]\n- 키워드와 직접 관련 있는가\n- 회사 업무 맥락, 고객사, 서비스 확장 가능성, 내부 운영 관점과 연결되는가\n- 보직자용 리포트의 근거 자료로 쓸 수 있는가\n- 단순 광고, 채용공고, 유학생/단순노무/고용허가제 중심 자료, 명백히 무관한 자료만 '제외권장'으로 분류하라\n- 불확실하거나 간접적으로 관련 있으면 반드시 '검토필요'로 분류하라. '제외권장'은 명백히 무관한 경우에만 사용하라\n- 키워드와 부분적으로 연결되는 자료도 '검토필요' 이상으로 분류하라\n- 제목과 요약만 보고 판단하되, 판단이 어려우면 '검토필요'로 분류하라\n- date_validation이 'unknown_date'인 기사는 날짜를 알 수 없어 기간 외 자료일 수 있다. 이런 기사는 ai_relevance_score에서 20점을 감점하고, 내용이 명확하지 않으면 '제외권장'으로 분류하라\n- 반드시 JSON 객체만 출력하라\n\n[점수 기준]\n- ai_relevance_score: 검색 키워드/의도 관련도 0~100\n- company_fit_score: 회사 업무 맥락 적합도 0~100\n- ai_usefulness_score: 리포트 근거 자료로서 활용성 0~100\n\n[후보 자료 JSON]\n${JSON.stringify(scoringInput, null, 2)}\n\n[출력 형식]\n{\n  \"scores\": [\n    {\n      \"no\": 1,\n      \"url\": \"후보 URL\",\n      \"ai_relevance_score\": 0,\n      \"company_fit_score\": 0,\n      \"ai_usefulness_score\": 0,\n      \"recommendation_label\": \"강력추천|추천|검토필요|제외권장\",\n      \"recommendation_reason\": \"회사 업무 맥락과 연결한 짧은 추천/감점 사유\",\n      \"risk_note\": \"주의점 또는 추가 확인 필요사항\",\n      \"keep\": true\n    }\n  ]\n}`;\n\nreturn {\n  ...prev,\n  company_context_doc_id: prev.company_context_doc_id,\n  company_context_loaded: companyContextRaw ? true : false,\n  company_context_chars: companyContext.length,\n  company_context: companyContext,\n  scoring_prompt: scoringPrompt\n};\n"
      },
      "id": "98bb83a7-7fd3-41b5-bc8f-ab974b445fc0",
      "name": "8-B. Code - 회사 맥락 병합 + 평가 프롬프트",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        59664,
        864
      ],
      "alwaysOutputData": true,
      "notes": "Google Docs 본문을 company_context로 정리하고, 후보 자료 AI 평가 프롬프트에 회사 맥락을 주입합니다."
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "={{ $json.company_context_doc_url }}"
      },
      "id": "362a4a76-0294-4765-b69b-39fad4836f3e",
      "name": "8-A. Google Docs - 회사 맥락 문서 읽기",
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        59424,
        864
      ],
      "alwaysOutputData": true,
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "cL4GHzurJWdHGv4W",
          "name": "Google Docs(7/14)"
        }
      },
      "continueOnFail": true,
      "notes": "Google Docs 노드로 회사 맥락 문서를 읽습니다. documentURL에는 반드시 https://docs.google.com/document/d/<ID>/edit 형태의 전체 URL을 넣습니다. 오류가 나도 워크플로우는 계속 진행되도록 continueOnFail=true 처리했습니다."
    },
    {
      "parameters": {
        "jsCode": "\nconst meta = $('4. Code - 검색어 JSON 정리 + API Job 생성').first().json;\nconst allItems = $input.all();\n\nlet serperList = [], naverNewsList = [], naverWebList = [], answer = null;\nfor (const item of allItems) {\n  if (item.json.source === 'serper') { serperList = item.json.list || []; answer = item.json.answer || null; }\n  if (item.json.source === 'naver_news') naverNewsList = item.json.list || [];\n  if (item.json.source === 'naver_web') naverWebList = item.json.list || [];\n}\n\nconst originalCount = serperList.length + naverNewsList.length + naverWebList.length;\nconst all = [...serperList, ...naverNewsList, ...naverWebList].filter(x => x.url && x.title);\n\nfunction normUrl(url) {\n  try {\n    const u = new URL(url);\n    u.hash = '';\n    ['utm_source','utm_medium','utm_campaign','utm_term','utm_content','fbclid','gclid'].forEach(k => u.searchParams.delete(k));\n    return u.hostname.replace(/^www\\./,'').toLowerCase() + u.pathname.replace(/\\/$/,'').toLowerCase();\n  } catch(e) {\n    return String(url || '').replace(/^https?:\\/\\//,'').split('?')[0].replace(/\\/$/,'').toLowerCase();\n  }\n}\n\nfunction cleanText(s) { return String(s || '').toLowerCase().replace(/[^\\uac00-\\ud7a3a-z0-9\\s]/g,' ').replace(/\\s+/g,' ').trim(); }\nfunction tokens(s) { return new Set(cleanText(s).split(/\\s+/).filter(t => t.length >= 2)); }\nfunction jaccard(a,b) {\n  const A=tokens(a), B=tokens(b);\n  if (!A.size || !B.size) return 0;\n  let inter=0; for (const x of A) if (B.has(x)) inter++;\n  return inter/(A.size+B.size-inter);\n}\nfunction parseDate(x) {\n  if (!x) return null;\n  const d = new Date(x);\n  return isNaN(d.getTime()) ? null : d;\n}\nfunction dateFromUrl(url) {\n  const s = String(url || '');\n  // 슬래시 구분 패턴: /2013/03/22/\n  let m = s.match(/\\/(20\\d{2})\\/([01]\\d)\\/([0-3]\\d)\\//);\n  if (m) {\n    const d = new Date(Number(m[1]), Number(m[2])-1, Number(m[3]));\n    if (!isNaN(d.getTime())) return d;\n  }\n  // 연속 8자리: 20260507 또는 20130322\n  m = s.match(/(20\\d{2})([01]\\d)([0-3]\\d)/);\n  if (m) {\n    const y=Number(m[1]), mo=Number(m[2]), d2=Number(m[3]);\n    if (mo>=1&&mo<=12&&d2>=1&&d2<=31) {\n      const d = new Date(y, mo-1, d2);\n      if (!isNaN(d.getTime())) return d;\n    }\n  }\n  // 구분자 패턴: 2013-03-22, 2013.03.22\n  m = s.match(/(20\\d{2})[-_.](0[1-9]|1[0-2])[-_.](0[1-9]|[12]\\d|3[01])/);\n  if (m) {\n    const d = new Date(Number(m[1]), Number(m[2])-1, Number(m[3]));\n    if (!isNaN(d.getTime())) return d;\n  }\n  return null;\n}\nfunction bestDate(item) { return parseDate(item.published_date) || dateFromUrl(item.url); }\nfunction inRange(item) {\n  const d = bestDate(item);\n  const start = meta.start_date ? new Date(meta.start_date) : null;\n  const end   = meta.end_date   ? new Date(meta.end_date)   : null;\n  const hasDateFilter = !!(start || end);\n\n  if (!d) {\n    // 기간 필터가 설정된 경우 날짜 미상 기사 제외\n    // 최신 기사일수록 날짜 확인 가능, 날짜 모르면 오래된 자료일 가능성 높음\n    if (hasDateFilter) return { ok: false, reason: 'unknown_date_filtered', score: 0 };\n    return { ok: true, reason: 'unknown_date', score: 0.55 };\n  }\n  if (start && d < start) return { ok: false, reason: 'before_start_date', score: 0.05 };\n  if (end) {\n    const e = new Date(end); e.setHours(23,59,59,999);\n    if (d > e) return { ok: false, reason: 'after_end_date', score: 0.05 };\n  }\n  return { ok: true, reason: 'within_range', score: 1 };\n}\nfunction domainOf(url) {\n  try { return new URL(url).hostname.replace(/^www\\./,'').toLowerCase(); } catch(e) { return ''; }\n}\n\n// 도메인 → 언론사명 매핑 (Naver API는 언론사명을 별도로 주지 않아, URL 도메인으로 유추한다)\nconst PUBLISHER_MAP = {\n  'yna.co.kr': '연합뉴스', 'yonhapnewstv.co.kr': '연합뉴스TV', 'newsis.com': '뉴시스', 'news1.kr': '뉴스1',\n  'chosun.com': '조선일보', 'biz.chosun.com': '조선비즈', 'chosunbiz.com': '조선비즈',\n  'joongang.co.kr': '중앙일보', 'donga.com': '동아일보', 'hani.co.kr': '한겨레', 'khan.co.kr': '경향신문',\n  'hankyung.com': '한국경제', 'wowtv.co.kr': '한국경제TV', 'mk.co.kr': '매일경제', 'sedaily.com': '서울경제',\n  'seoul.co.kr': '서울신문', 'munhwa.com': '문화일보', 'segye.com': '세계일보', 'hankookilbo.com': '한국일보',\n  'kmib.co.kr': '국민일보', 'ohmynews.com': '오마이뉴스', 'pressian.com': '프레시안', 'newdaily.co.kr': '뉴데일리',\n  'dailian.co.kr': '데일리안', 'etnews.com': '전자신문', 'zdnet.co.kr': '지디넷코리아', 'ytn.co.kr': 'YTN',\n  'kbs.co.kr': 'KBS', 'imbc.com': 'MBC', 'mbc.co.kr': 'MBC', 'sbs.co.kr': 'SBS', 'jtbc.co.kr': 'JTBC', 'mbn.co.kr': 'MBN',\n  'mt.co.kr': '머니투데이', 'moneys.co.kr': '머니S', 'edaily.co.kr': '이데일리', 'fnnews.com': '파이낸셜뉴스',\n  'asiae.co.kr': '아시아경제', 'heraldcorp.com': '헤럴드경제', 'koreaherald.com': '코리아헤럴드',\n  'koreatimes.co.kr': '코리아타임스', 'dt.co.kr': '디지털타임스', 'etoday.co.kr': '이투데이',\n  'businesspost.co.kr': '비즈니스포스트', 'businesskorea.co.kr': 'Business Korea', 'thebell.co.kr': '더벨',\n  'techm.kr': '테크M', 'bloter.net': '블로터', 'itworld.co.kr': 'ITWorld', 'ciokorea.com': 'CIO Korea',\n  'platum.kr': '플래텀', 'venturesquare.net': '벤처스퀘어',\n  'news.samsung.com': '삼성전자 뉴스룸',\n  'reuters.com': '로이터', 'bloomberg.com': '블룸버그', 'ft.com': '파이낸셜타임스', 'wsj.com': '월스트리트저널',\n  'nytimes.com': '뉴욕타임스', 'cnbc.com': 'CNBC', 'techcrunch.com': '테크크런치', 'theverge.com': '더버지'\n};\nfunction publisherOf(url, given) {\n  if (given) return given;\n  const host = domainOf(url);\n  if (!host) return null;\n  if (PUBLISHER_MAP[host]) return PUBLISHER_MAP[host];\n  // 서브도메인(예: biz.chosun.com처럼 등록 안 된 경우)도 대비해 뒤에서부터 매칭\n  const parts = host.split('.');\n  for (let i = 0; i < parts.length - 1; i++) {\n    const candidate = parts.slice(i).join('.');\n    if (PUBLISHER_MAP[candidate]) return PUBLISHER_MAP[candidate];\n  }\n  return null;\n}\n\nconst excluded = (meta.must_exclude || meta.exclude_keywords || []).map(x => cleanText(x)).filter(Boolean);\nconst musts = (meta.must_include || meta.core_keywords || []).map(x => cleanText(x)).filter(Boolean);\nconst expanded = (meta.expansion_keywords || []).map(x => cleanText(x)).filter(Boolean);\n// must_include_from_keyword: 쌍따옴표로 감싼 필수 포함 키워드\nconst mustIncludes = (meta.must_include_from_keyword || []).map(x => cleanText(x)).filter(Boolean);\n\nfunction keywordScore(item) {\n  const text = cleanText(`${item.title} ${item.summary}`);\n  let score = 0;\n  for (const k of musts) if (k && text.includes(k)) score += 0.22;\n  for (const k of expanded) if (k && text.includes(k)) score += 0.08;\n  if (!musts.length && meta.keyword && text.includes(cleanText(meta.keyword))) score += 0.35;\n  return Math.min(score, 1);\n}\nfunction hasExclude(item) {\n  const title = cleanText(item.title);\n  return excluded.some(k => k && title.includes(k));\n}\n\n// must_include 필터: 쌍따옴표 키워드가 제목+요약에 없으면 제외\n// 구글/네이버가 쌍따옴표 필수 포함을 무시하는 경우 후처리로 보정\nfunction hasMustInclude(item) {\n  if (!mustIncludes.length) return true;\n  // 제목에서만 체크 (요약은 짧아서 누락 잦음)\n  // 첫 번째 키워드(핵심 주체)가 제목에 없으면 제외\n  const title = cleanText(item.title);\n  const titleAndSummary = cleanText(`${item.title} ${item.summary}`);\n  const first = mustIncludes[0];\n  if (!first) return true;\n  const firstClean = cleanText(first);\n  // 제목에 있거나, 제목+요약에 있으면 통과\n  return titleAndSummary.includes(firstClean);\n}\nfunction sourceQuality(url, source) {\n  const d = domainOf(url);\n  if (!d) return 0.45;\n  if (d.endsWith('.go.kr') || d.includes('.gov') || d.endsWith('.or.kr')) return 0.95;\n  if (d.endsWith('.ac.kr') || d.includes('.edu')) return 0.9;\n  if (/(mckinsey|deloitte|pwc|kpmg|bcg|gartner|forrester|oecd|weforum|hbr|harvard)/.test(d)) return 0.85;\n  if (/(samsung|hyundai|lg|sk|navercorp|kakao|microsoft|google|amazon|ibm|oracle|salesforce)/.test(d)) return 0.82;\n  if (/(news|economist|reuters|bloomberg|chosun|joongang|hani|mk|hankyung|yna|etnews|zdnet|itworld|ciokorea)/.test(d)) return 0.72;\n  if (/(blog|tistory|brunch|cafe|kin\\.naver)/.test(d)) return 0.38;\n  if (source === 'naver_web') return 0.55;\n  return 0.62;\n}\nfunction contentDepth(item) {\n  const len = String(item.summary || '').length;\n  if (len > 220) return 0.9;\n  if (len > 120) return 0.7;\n  if (len > 50) return 0.5;\n  return 0.25;\n}\n\nconst byUrl = new Map();\nfor (const item of all) {\n  const key = normUrl(item.url);\n  if (!key) continue;\n  if (!byUrl.has(key)) {\n    byUrl.set(key, { ...item, sources: item.sources || [item.source] });\n  } else {\n    const old = byUrl.get(key);\n    old.sources = [...new Set([...(old.sources || []), ...(item.sources || [item.source])])];\n    old.summary = old.summary && old.summary.length >= String(item.summary||'').length ? old.summary : item.summary;\n    if (!old.published_date && item.published_date) old.published_date = item.published_date;\n    if (!old.publisher && item.publisher) old.publisher = item.publisher;\n  }\n}\n\nlet deduped = Array.from(byUrl.values());\nconst urlDuplicateCount = all.length - deduped.length;\n\n// ── 1차 중복 제거: 제목 유사도 기반 (자카드 0.68 이상) ──\nconst titleDeduped = [];\nfor (const item of deduped) {\n  const dup = titleDeduped.find(x => jaccard(x.title, item.title) >= 0.68);\n  if (!dup) titleDeduped.push(item);\n  else {\n    dup.sources = [...new Set([...(dup.sources || []), ...(item.sources || [])])];\n    if (String(item.summary||'').length > String(dup.summary||'').length) dup.summary = item.summary;\n  }\n}\ndeduped = titleDeduped;\n\n// ── 2차 중복 제거: 같은 날짜 + 같은 이벤트 기사 클러스터링 ──\n// 같은 날 발행 + 제목 유사도 0.45 이상 → 동일 이벤트 기사로 판단, 상위 1개만 유지\n// (스마트싱스 MOU처럼 여러 언론사가 같은 날 같은 내용 기사를 쏟아내는 경우 처리)\n// 한자 치환 포함 제목 정규화\nfunction normalizeTitle(s) {\n  return String(s || '')\n    .replace(/韓/g,'한국').replace(/中/g,'중국').replace(/美/g,'미국').replace(/日/g,'일본')\n    .replace(/[^가-힣a-zA-Z0-9\\s]/g,' ')\n    .toLowerCase().trim();\n}\nfunction titleTokens(s) {\n  return normalizeTitle(s).split(/\\s+/).filter(t => t.length >= 2);\n}\nfunction titleJaccard(a, b) {\n  const A = new Set(titleTokens(a)), B = new Set(titleTokens(b));\n  if (!A.size || !B.size) return 0;\n  let inter = 0; for (const t of A) if (B.has(t)) inter++;\n  return inter / (A.size + B.size - inter);\n}\nfunction hasNgram2(a, b) {\n  const ta = titleTokens(a), tb = titleTokens(b);\n  if (ta.length < 2 || tb.length < 2) return false;\n  const nga = new Set();\n  for (let i = 0; i <= ta.length - 2; i++) nga.add(ta.slice(i,i+2).join(' '));\n  for (let i = 0; i <= tb.length - 2; i++) { if (nga.has(tb.slice(i,i+2).join(' '))) return true; }\n  return false;\n}\nfunction isSameEvent(a, b) {\n  return titleJaccard(a.title, b.title) >= 0.45 || hasNgram2(a.title, b.title);\n}\nfunction sameDay(a, b) {\n  const da = parseDate(a.published_date) || dateFromUrl(a.url);\n  const db = parseDate(b.published_date) || dateFromUrl(b.url);\n  if (!da || !db) return false;\n  return da.getFullYear() === db.getFullYear() &&\n         da.getMonth()    === db.getMonth()    &&\n         da.getDate()     === db.getDate();\n}\n\nconst eventDeduped = [];\nconst eventRemoved = new Set();\nfor (let i = 0; i < deduped.length; i++) {\n  if (eventRemoved.has(i)) continue;\n  for (let j = i + 1; j < deduped.length; j++) {\n    if (eventRemoved.has(j)) continue;\n    // 같은 날 + 동일 이벤트 → j 제거 (한자 치환 + 2-gram 병행)\n    if (sameDay(deduped[i], deduped[j]) && isSameEvent(deduped[i], deduped[j])) {\n      eventRemoved.add(j);\n      deduped[i].sources = [...new Set([...(deduped[i].sources || []), ...(deduped[j].sources || [])])];\n      if (String(deduped[j].summary||'').length > String(deduped[i].summary||'').length) {\n        deduped[i].summary = deduped[j].summary;\n      }\n    }\n  }\n  if (!eventRemoved.has(i)) eventDeduped.push(deduped[i]);\n}\nconst eventDuplicateCount = deduped.length - eventDeduped.length;\ndeduped = eventDeduped;\n\nlet dateFilteredCount = 0;\nlet excludedKeywordCount = 0;\n\nconst scored = [];\nfor (const item of deduped) {\n  if (hasExclude(item)) { excludedKeywordCount++; continue; }\n  // must_include 키워드가 제목+요약에 없으면 제외\n  if (!hasMustInclude(item)) { excludedKeywordCount++; continue; }\n  const dr = inRange(item);\n  if (!dr.ok) { dateFilteredCount++; continue; }\n  const kScore = keywordScore(item);\n  const sScore = sourceQuality(item.url, item.source);\n  const dScore = dr.score;\n  const cScore = contentDepth(item);\n  const multiSourceBoost = (item.sources || []).length >= 2 ? 0.06 : 0;\n  const heuristic = Math.min(1, kScore*0.42 + sScore*0.25 + dScore*0.18 + cScore*0.15 + multiSourceBoost);\n  scored.push({\n    ...item,\n    date_validation: dr.reason,\n    source_quality_score: Math.round(sScore*100),\n    keyword_match_score: Math.round(kScore*100),\n    freshness_score: Math.round(dScore*100),\n    content_depth_score: Math.round(cScore*100),\n    heuristic_score: Math.round(heuristic*1000)/1000,\n    score: Math.round(heuristic*1000)/1000,\n    domain: domainOf(item.url),\n    publisher: publisherOf(item.url, item.publisher)\n  });\n}\n\nscored.sort((a,b) => b.heuristic_score - a.heuristic_score);\nconst candidates = scored.slice(0, meta.candidate_max || 30).map((x,i) => ({ ...x, candidate_rank: i+1 }));\n\nconst scoringInput = candidates.map((x,i) => ({\n  no: i+1,\n  title: x.title,\n  url: x.url,\n  summary: x.summary,\n  source: x.source,\n  sources: x.sources,\n  published_date: x.published_date,\n  domain: x.domain,\n  heuristic_score: x.heuristic_score,\n  source_quality_score: x.source_quality_score,\n  date_validation: x.date_validation\n}));\n\nconst scoringPrompt = `너는 기업 보직자용 리서치 자료를 선별하는 분석가다.\n아래 후보 자료를 사용자의 검색 의도에 맞춰 평가하라.\n\n[검색 의도]\n${meta.search_intent}\n\n[핵심 키워드]\n${(meta.core_keywords || []).join(', ')}\n\n[확장 키워드]\n${(meta.expansion_keywords || []).join(', ')}\n\n[제외 키워드]\n${(meta.must_exclude || meta.exclude_keywords || []).join(', ')}\n\n[분석 관점]\n${meta.analysis_viewpoint}\n\n[평가 기준]\n- 검색 의도와 직접 관련 있는가\n- 단순 광고/채용공고/무관 자료가 아닌가\n- 리포트 작성 근거로 사용할 수 있는가\n- 제목과 요약만 보고 판단하되, 불확실하면 낮게 평가하라\n- 반드시 JSON 객체만 출력하라\n\n[후보 자료 JSON]\n${JSON.stringify(scoringInput, null, 2)}\n\n[출력 형식]\n{\n  \"scores\": [\n    {\n      \"no\": 1,\n      \"url\": \"후보 URL\",\n      \"ai_relevance_score\": 0,\n      \"ai_usefulness_score\": 0,\n      \"recommendation_label\": \"강력추천|추천|검토필요|제외권장\",\n      \"recommendation_reason\": \"짧은 추천/감점 사유\",\n      \"risk_note\": \"주의점 또는 추가 확인 필요사항\",\n      \"keep\": true\n    }\n  ]\n}`;\n\nreturn {\n  ...meta,\n  original_count: originalCount,\n  serper_count: serperList.length,\n  naver_news_count: naverNewsList.length,\n  naver_web_count: naverWebList.length,\n  naver_count: naverNewsList.length + naverWebList.length,\n  duplicate_count: urlDuplicateCount + (Array.from(byUrl.values()).length - eventDeduped.length - eventDuplicateCount) + eventDuplicateCount,\n  date_filtered_count: dateFilteredCount,\n  excluded_keyword_count: excludedKeywordCount,\n  candidate_count: candidates.length,\n  candidates,\n  scoring_prompt: scoringPrompt,\n  answer\n};\n"
      },
      "id": "1e5e9a16-d705-4cc1-9238-f5f7ed71e69c",
      "name": "7. Code - 후보 정규화 + 룰 기반 1차 점수화",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        59200,
        1136
      ]
    },
    {
      "parameters": {},
      "id": "0e14fdee-575c-4c2d-a013-ff12148f9d90",
      "name": "6-2. Merge - + Naver Web",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        58896,
        1136
      ]
    },
    {
      "parameters": {},
      "id": "da737713-4be3-4624-bf2e-3ff7c4da6852",
      "name": "6-1. Merge - Serper + Naver News",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        58656,
        1008
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// 네이버 API는 제목/요약에 <b> 태그와 &quot; 같은 HTML 엔티티를 섞어서 반환한다.\n// 태그만 제거하고 엔티티를 그대로 두면 화면에 깨져 보이므로 함께 디코딩한다.\nfunction cleanNaverText(s) {\n  return String(s || '')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&quot;/g, '\"')\n    .replace(/&apos;/g, \"'\")\n    .replace(/&#39;/g, \"'\")\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .trim();\n}\n\nconst allItems = $input.all();\nconst list = [];\nfor (const item of allItems) {\n  const d = item.json || {};\n  const arr = Array.isArray(d.items) ? d.items : [];\n  for (const r of arr) {\n    list.push({\n      source: 'naver_web',\n      sources: ['naver'],\n      title: cleanNaverText(r.title),\n      url: r.link || '',\n      summary: cleanNaverText(r.description),\n      publisher: null, // 네이버 API는 언론사명을 별도로 주지 않아 이후 도메인 매핑(7번 노드)에서 채운다\n      published_date: null,\n      raw_score: list.length + 1,\n      normalized_score: 1,\n      api_rank: null\n    });\n  }\n}\nreturn { source: 'naver_web', list };\n"
      },
      "id": "dfe5886d-1052-4d43-a7dc-773a49ad2afd",
      "name": "5-C-3. Code - Naver Web 결과 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        58416,
        1424
      ]
    },
    {
      "parameters": {
        "url": "https://openapi.naver.com/v1/search/webkr.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "display",
              "value": "={{ $json.display }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Naver-Client-Id",
              "value": "=KBCA37aIURmA3i3B2lTG"
            },
            {
              "name": "X-Naver-Client-Secret",
              "value": "=1euva6si4K"
            }
          ]
        },
        "options": {}
      },
      "id": "b7c73b44-bfe2-4cf9-8e6a-6d018a8e779a",
      "name": "5-C-2. HTTP Request - Naver Web",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        58176,
        1424
      ]
    },
    {
      "parameters": {
        "jsCode": "const jobs = $('4. Code - 검색어 JSON 정리 + API Job 생성').first().json.naver_web_jobs || [];\nreturn jobs.map(j => ({ json: j }));"
      },
      "id": "5328fe73-5eaa-4d98-91f1-9e7df7b82962",
      "name": "5-C-1. Code - Naver Web Job 분리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        57936,
        1424
      ]
    },
    {
      "parameters": {
        "jsCode": "\n// 네이버 API는 제목/요약에 <b> 태그와 &quot; 같은 HTML 엔티티를 섞어서 반환한다.\n// 태그만 제거하고 엔티티를 그대로 두면 화면에 \"AI&quot; 반도체&quot;\"처럼 깨져 보이므로 함께 디코딩한다.\nfunction cleanNaverText(s) {\n  return String(s || '')\n    .replace(/<[^>]+>/g, '')\n    .replace(/&quot;/g, '\"')\n    .replace(/&apos;/g, \"'\")\n    .replace(/&#39;/g, \"'\")\n    .replace(/&lt;/g, '<')\n    .replace(/&gt;/g, '>')\n    .replace(/&nbsp;/g, ' ')\n    .replace(/&amp;/g, '&')\n    .trim();\n}\n\nconst allItems = $input.all();\nconst list = [];\nfor (const item of allItems) {\n  const d = item.json || {};\n  const arr = Array.isArray(d.items) ? d.items : [];\n  for (const r of arr) {\n    list.push({\n      source: 'naver_news',\n      sources: ['naver'],\n      title: cleanNaverText(r.title),\n      url: r.originallink || r.link || '',\n      summary: cleanNaverText(r.description),\n      publisher: null, // 네이버 API는 언론사명을 별도로 주지 않아 이후 도메인 매핑(7번 노드)에서 채운다\n      published_date: r.pubDate || null,\n      raw_score: list.length + 1,\n      normalized_score: 1,\n      api_rank: null\n    });\n  }\n}\nreturn { source: 'naver_news', list };\n"
      },
      "id": "63bc268c-efef-47cc-8608-e9cf2cf6fe09",
      "name": "5-B-3. Code - Naver News 결과 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        58416,
        1136
      ]
    },
    {
      "parameters": {
        "url": "https://openapi.naver.com/v1/search/news.json",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "={{ $json.query }}"
            },
            {
              "name": "display",
              "value": "={{ $json.display }}"
            },
            {
              "name": "sort",
              "value": "={{ $json.sort }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Naver-Client-Id",
              "value": "=KBCA37aIURmA3i3B2lTG"
            },
            {
              "name": "X-Naver-Client-Secret",
              "value": "=1euva6si4K"
            }
          ]
        },
        "options": {}
      },
      "id": "203c637b-b718-4cab-9a9e-2ab8a4d04dff",
      "name": "5-B-2. HTTP Request - Naver News",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        58176,
        1136
      ]
    },
    {
      "parameters": {
        "jsCode": "const jobs = $('4. Code - 검색어 JSON 정리 + API Job 생성').first().json.naver_news_jobs || [];\nreturn jobs.map(j => ({ json: j }));"
      },
      "id": "e09d9b5c-8a75-42e7-b2ce-7436f0f0b761",
      "name": "5-B-1. Code - Naver News Job 분리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        57936,
        1136
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst allItems = $input.all();\nconst list = [];\nlet answerBox = null;\n\nfor (const item of allItems) {\n  const d = item.json || {};\n  const organic = Array.isArray(d.organic) ? d.organic : [];\n  const news = Array.isArray(d.news) ? d.news : [];\n  const results = [...organic, ...news];\n  if (!answerBox && d.answerBox) answerBox = d.answerBox;\n  for (const r of results) {\n    // imageUrl 등 불필요 필드 제거\n    delete r.imageUrl;\n    delete r.imageBase64;\n    delete r.thumbnail;\n    let published = r.date || r.publishedDate || null;\n    list.push({\n      source: 'serper',\n      sources: ['serper'],\n      title: r.title || '',\n      url: r.link || r.url || '',\n      summary: r.snippet || r.content || '',\n      publisher: r.source || null, // Serper 뉴스 결과에는 언론사명이 함께 내려오는 경우가 많다 (예: \"연합뉴스\")\n      published_date: published,\n      raw_score: list.length + 1,\n      normalized_score: 1,\n      api_rank: r.position || null\n    });\n  }\n}\nreturn { source: 'serper', answer: answerBox, list };\n"
      },
      "id": "94441d1a-18f7-4799-9f0f-41b505d444c2",
      "name": "5-A-3. Code - Serper 결과 파싱",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        58416,
        864
      ],
      "notes": "Serper organic/news 결과를 공통 list 구조로 변환"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.endpoint }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ q: $json.q, gl: $json.gl, hl: $json.hl, num: $json.num, page: $json.page, filter: $json.filter, autocorrect: $json.autocorrect, tbs: $json.tbs }) }}",
        "options": {
          "response": {
            "response": {}
          }
        }
      },
      "id": "0e421fc1-0264-4e12-b526-a7db52a5abee",
      "name": "5-A-2. HTTP Request - Serper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        58176,
        864
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "f995YWhME6zw2vSb",
          "name": "Header Auth account 2"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const jobs = $('4. Code - 검색어 JSON 정리 + API Job 생성').first().json.serper_jobs || [];\nreturn jobs.map(j => ({ json: j }));"
      },
      "id": "aec3f240-0e7f-43f2-ab42-c79485ef5509",
      "name": "5-A-1. Code - Serper Job 분리",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        57936,
        864
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst base = $('2. Code - 입력 정리 + 검색어 생성 프롬프트').first().json;\nconst raw = $json.text || $json.output || $json.response || $json.result || JSON.stringify($json);\n\nfunction extractJson(str) {\n  if (typeof str !== 'string') return str;\n  let s = str.trim();\n  s = s.replace(/^```json\\s*/i,'').replace(/^```\\s*/,'').replace(/```$/,'').trim();\n  const first = s.indexOf('{');\n  const last = s.lastIndexOf('}');\n  if (first >= 0 && last >= first) s = s.slice(first, last + 1);\n  return JSON.parse(s);\n}\n\nlet parsed;\ntry { parsed = extractJson(raw); }\ncatch(e) {\n  parsed = {\n    search_intent: base.keyword,\n    ko_queries: [base.keyword],\n    en_queries: [],\n    must_include: base.core_keywords || [],\n    must_exclude: base.exclude_keywords || [],\n    extracted_date_range: { start_date: null, end_date: null, reason: 'parse error' }\n  };\n}\n\nconst uniq = (arr) => [...new Set((arr || []).map(x => String(x).trim()).filter(Boolean))];\n\nlet koQueries = uniq(parsed.ko_queries);\nlet enQueries = uniq(parsed.en_queries);\nif (!koQueries.length && base.keyword) koQueries = [base.keyword];\n\nkoQueries = koQueries.slice(0, 5);\nenQueries = enQueries.slice(0, 5);\n\n// ── 날짜 범위 결정: 사용자 설정 > AI 추출 > time_range ──\nconst userSetStart = base.start_date || null;\nconst userSetEnd   = base.end_date   || null;\nconst userHasDate  = !!(userSetStart || userSetEnd);\n\nconst extractedRange = parsed.extracted_date_range || {};\nconst extractedStart = (!userHasDate && extractedRange.start_date && extractedRange.start_date !== 'null')\n  ? extractedRange.start_date : null;\nconst extractedEnd   = (!userHasDate && extractedRange.end_date && extractedRange.end_date !== 'null')\n  ? extractedRange.end_date : null;\n\nlet effectiveStartDate = userSetStart || extractedStart || null;\nlet effectiveEndDate   = userSetEnd   || extractedEnd   || null;\n\n// base에 반영 (7번 노드 날짜 필터에서 사용)\nif (effectiveStartDate) base.start_date = effectiveStartDate;\nif (effectiveEndDate)   base.end_date   = effectiveEndDate;\n\n// ── tbs 파라미터 생성 ──\nfunction toMDY(s) {\n  const d = new Date(s);\n  if (isNaN(d.getTime())) return null;\n  return `${d.getMonth()+1}/${d.getDate()}/${d.getFullYear()}`;\n}\n\nlet tbs = null;\nif (effectiveStartDate || effectiveEndDate) {\n  const min = effectiveStartDate ? toMDY(effectiveStartDate) : '1/1/2000';\n  const max = effectiveEndDate   ? toMDY(effectiveEndDate)   : toMDY(new Date().toISOString());\n  if (min && max) tbs = `cdr:1,cd_min:${min},cd_max:${max}`;\n} else if (base.time_range) {\n  const map = { day:'qdr:d', week:'qdr:w', month:'qdr:m', year:'qdr:y' };\n  tbs = map[base.time_range] || null;\n}\n\n// ── must_include 강제 삽입 (ko_queries만, en_queries는 영어 그대로) ──\nconst mustIncludeKw = base.must_include_from_keyword || [];\nif (mustIncludeKw.length) {\n  koQueries = koQueries.map(q => {\n    const qClean = q.replace(/\"/g, '');\n    const missing = mustIncludeKw.filter(k => !qClean.includes(k));\n    return missing.length ? `${missing.map(k => `\"${k}\"`).join(' ')} ${q}` : q;\n  });\n}\n\n// ── Serper 쿼리 조합 (ko + en, 최대 8개) ──\nconst serperQueries = [\n  ...koQueries.map(q => ({ q, hl:'ko', gl: base.gl || 'kr', language:'ko' })),\n  ...enQueries.map(q => ({ q, hl:'en', gl:'us', language:'en' }))\n].slice(0, 8);\n\n// ── Naver 쿼리 (쌍따옴표 제거, must_include 키워드는 앞에 추가) ──\nconst naverMustKw = base.must_include_from_keyword || [];\nconst naverQueries = koQueries.slice(0, 5).map(q => {\n  let naverQ = q.replace(/\"/g, ''); // 쌍따옴표 제거\n  // must_include 키워드가 쿼리에 없으면 앞에 추가 (쌍따옴표 없이)\n  for (const k of naverMustKw) {\n    if (!naverQ.includes(k)) naverQ = `${k} ${naverQ}`;\n  }\n  return { q: naverQ, language: 'ko' };\n});\n\n// ── Serper jobs 생성 ──\nconst SERPER_PAGES = 2;\nconst serper_jobs = [];\nfor (const q of serperQueries) {\n  for (let page = 1; page <= SERPER_PAGES; page++) {\n    serper_jobs.push({\n      endpoint: base.topic === 'news'\n        ? 'https://google.serper.dev/news'\n        : 'https://google.serper.dev/search',\n      q: q.q,\n      hl: q.hl,\n      gl: q.gl,\n      num: 10,\n      page,\n      filter: 0,\n      autocorrect: false,\n      tbs,\n      language: q.language\n    });\n  }\n}\n\n// ── Naver jobs 생성 ──\nconst naver_news_jobs = naverQueries.map(q => ({\n  query: q.q,\n  display: 30,\n  sort: (base.start_date || base.end_date || base.time_range) ? 'date' : 'sim'\n}));\n\nconst naver_web_jobs = naverQueries.slice(0, 3).map(q => ({\n  query: q.q,\n  display: 20\n}));\n\nreturn {\n  ...base,\n  search_intent:        parsed.search_intent || base.keyword,\n  ko_queries:           koQueries,\n  en_queries:           enQueries,\n  must_include:         uniq(parsed.must_include || base.core_keywords),\n  must_exclude:         uniq(parsed.must_exclude || base.exclude_keywords),\n  serper_jobs,\n  naver_news_jobs,\n  naver_web_jobs,\n  generated_query_raw:  parsed,\n  extracted_date_range: extractedRange,\n  effective_start_date: effectiveStartDate,\n  effective_end_date:   effectiveEndDate\n};\n"
      },
      "id": "2c299dab-7632-49fd-8005-0812d155e55f",
      "name": "4. Code - 검색어 JSON 정리 + API Job 생성",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        57696,
        1136
      ]
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite",
        "options": {
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        57392,
        1328
      ],
      "id": "d261b07d-0e85-4fe9-a24f-217513fd6fc4",
      "name": "Google Gemini - Query",
      "credentials": {
        "googlePalmApi": {
          "id": "UmQBA3vsLpvPlcZz",
          "name": "Google Gemini 90일 무료(7/14~)"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.query_prompt }}",
        "messages": {
          "messageValues": [
            {
              "message": "너는 검색 품질을 높이기 위한 검색어 설계 전문가다. 반드시 JSON 객체만 출력한다."
            }
          ]
        },
        "batching": {}
      },
      "id": "bb0b2dae-9d90-4548-95d6-8268c92efaff",
      "name": "3. Basic LLM Chain - 검색어 생성",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        57392,
        1136
      ]
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "\nconst data = $json.body || $json;\nconst tp = data.tavily_params || {};\n\n// Google Docs에 저장한 회사/업무 맥락 문서\n// company_context_doc_id 또는 company_context_doc_url 모두 허용\n// company_context_doc_url 기본값 (미입력 시 기본 문서 사용)\nconst DEFAULT_COMPANY_CONTEXT_URL = 'https://docs.google.com/document/d/1FML9a8fOGfi4SsF19SWqWAEMpImaZRD1SjlLwp5ne00/edit?usp=drive_link';\nconst companyContextInput = String(\n  data.company_context_doc_url ||\n  data.company_context_google_doc_url ||\n  data.company_context_doc_id ||\n  data.company_context_google_doc_id ||\n  tp.company_context_doc_url ||\n  tp.company_context_doc_id ||\n  ''\n).trim();\n\nfunction extractGoogleDocId(input) {\n  const s = String(input || '').trim();\n  if (!s) return '';\n  const m = s.match(/\\/document\\/d\\/([^\\/]+)/);\n  if (m) return m[1];\n  return s;\n}\n\nconst companyContextDocId = extractGoogleDocId(companyContextInput);\nconst companyContextDocUrl = companyContextDocId\n  ? `https://docs.google.com/document/d/${companyContextDocId}/edit`\n  : DEFAULT_COMPANY_CONTEXT_URL;\n\nconst splitList = (v) => {\n  if (Array.isArray(v)) return v.map(x => String(x).trim()).filter(Boolean);\n  if (typeof v === 'string') return v.split(/[,，\\n]+/).map(x => x.trim()).filter(Boolean);\n  return [];\n};\n\nconst rawKeyword = String(data.keyword || tp.query || '').trim();\nconst keyword = rawKeyword;\n\n// 쌍따옴표로 감싼 단어 추출 → must_include (반드시 포함 키워드)\nconst quotedMatches = rawKeyword.match(/\"([^\"]+)\"/g) || [];\nconst mustIncludeFromKeyword = quotedMatches.map(m => m.replace(/\"/g, '').trim()).filter(Boolean);\nconst coreKeywords = splitList(data.core_keywords || data.main_keywords || keyword);\n// 쌍따옴표 키워드를 coreKeywords 앞에 추가 (중복 제외)\nfor (const k of mustIncludeFromKeyword) {\n  if (!coreKeywords.includes(k)) coreKeywords.unshift(k);\n}\nif (!coreKeywords.length && keyword) coreKeywords.push(keyword);\n\nconst expansionKeywords = splitList(data.expansion_keywords || data.sub_keywords || data.related_keywords || '');\nconst excludeKeywords = splitList(data.exclude_keywords || '');\nconst includeDomains = Array.isArray(tp.include_domains) ? tp.include_domains : splitList(data.include_domains || '');\nconst excludeDomains = Array.isArray(tp.exclude_domains) ? tp.exclude_domains : splitList(data.exclude_domains || '');\n\nconst topic = tp.topic || data.topic || 'news';\nconst timeRange = tp.time_range || data.time_range || null;\n\n// days → start_date/end_date 자동 변환 (topic=news일 때)\nlet startDate = data.start_date || tp.start_date || null;\nlet endDate   = data.end_date   || tp.end_date   || null;\n\nconst days = tp.days ? Number(tp.days) : null;\nif (days && !startDate && !endDate) {\n  // days가 설정됐고 날짜 범위가 없으면 자동 계산\n  const today = new Date();\n  const from  = new Date();\n  from.setDate(today.getDate() - days);\n  startDate = from.toISOString().slice(0, 10);\n  endDate   = today.toISOString().slice(0, 10);\n}\n\nconst finalMax = Number(tp.max_results || data.max_results || 20);\nconst candidateMax = Number(data.candidate_max || 50);\n\nconst analysisViewpoint = data.analysis_viewpoint || 'business_expansion';\nconst reportType = data.report_type || 'trend_brief';\nconst audienceLevel = data.audience_level || 'division_head';\nconst reportDepth = data.report_depth || 'standard';\nconst actionOrientation = data.action_orientation !== undefined ? data.action_orientation : true;\nconst riskSensitivity = data.risk_sensitivity || 'normal';\n\nconst country = (tp.country || data.country || 'KR').toString();\nconst gl = country.slice(0,2).toLowerCase();\n\nconst todayStr = new Date().toISOString().slice(0, 10);\n\nconst queryPrompt = `너는 웹 리서치 검색어 설계 전문가다.\n사용자의 키워드를 분석하여 검색어를 생성하고, 날짜 범위와 쌍따옴표 처리까지 판단하라.\n\n[사용자 입력]\n키워드: ${keyword}\n핵심 키워드: ${coreKeywords.join(', ')}\n확장 키워드: ${expansionKeywords.join(', ')}\n제외 키워드: ${excludeKeywords.join(', ')}\n분석 관점: ${analysisViewpoint}\n리포트 유형: ${reportType}\n사용자 설정 검색 기간: ${startDate || '미설정'} ~ ${endDate || '미설정'}\n오늘 날짜: ${todayStr}\n\n[쌍따옴표 처리 원칙]\n- 사용자가 이미 쌍따옴표로 감싼 키워드는 반드시 그대로 유지\n- 고유명사(기업명·기관명·인명·브랜드·법률명 등)는 쌍따옴표 추가\n- 일반 키워드는 쌍따옴표 없이 그대로 사용\n- 예) 삼성전자 → \"삼성전자\", 노란봉투법 → \"노란봉투법\", 동향 → 동향\n\n[날짜 범위 추출 원칙]\n- 사용자 키워드에서 시점 표현을 감지하여 날짜 범위를 계산하라\n- \"지난 N년\" → start_date = 오늘로부터 N년 전, end_date = 오늘\n- \"지난 N개월\" / \"최근 N개월\" → start_date = 오늘로부터 N개월 전, end_date = 오늘\n- \"최근\" (단독) → start_date = 오늘로부터 3개월 전, end_date = 오늘\n- \"YYYY년\" → start_date = YYYY-01-01, end_date = YYYY-12-31\n- \"YYYY\" (4자리 연도) → 위와 동일\n- 시점 표현 없으면 → start_date와 end_date 모두 null\n- 사용자가 날짜를 이미 설정했으면 (미설정 아님) → 사용자 설정을 우선하고 extracted_date_range는 null로\n\n[검색어 생성 원칙]\n- ko_queries: 한국어 검색어 3~5개\n- en_queries: 영어 검색어 3~5개\n- 각 쿼리에 쌍따옴표 처리된 핵심 키워드를 반드시 포함\n- 각 검색어는 120자 이하\n- must_include 키워드는 ko_queries에만 포함시켜라. en_queries에는 영어 키워드만 사용하라\n- exclude_keywords는 절대 쿼리에 넣지 말라. -키워드, NOT 연산자 형태도 금지. 후처리에서 처리한다\n- 쿼리에는 찾고 싶은 긍정 키워드만 넣어라\n- JSON 객체만 출력\n\n[출력 형식]\n{\n  \"search_intent\": \"검색 의도 한 문장\",\n  \"ko_queries\": [\"한국어 검색어1\", \"한국어 검색어2\"],\n  \"en_queries\": [\"english query 1\", \"english query 2\"],\n  \"must_include\": [\"핵심 포함 개념 (쌍따옴표 포함 형태로)\"],\n  \"must_exclude\": [\"제외 개념\"],\n  \"extracted_date_range\": {\n    \"start_date\": \"YYYY-MM-DD 또는 null\",\n    \"end_date\": \"YYYY-MM-DD 또는 null\",\n    \"reason\": \"날짜 추출 근거 한 문장\"\n  }\n}`;\n\nreturn {\n  keyword,\n  core_keywords: coreKeywords,\n  expansion_keywords: expansionKeywords,\n  exclude_keywords: excludeKeywords,\n  include_domains: includeDomains,\n  exclude_domains: excludeDomains,\n  start_date: startDate,\n  end_date: endDate,\n  time_range: timeRange,\n  topic,\n  final_max: finalMax,\n  candidate_max: candidateMax,\n  country,\n  gl,\n  analysis_viewpoint: analysisViewpoint,\n  report_type: reportType,\n  audience_level: audienceLevel,\n  report_depth: reportDepth,\n  action_orientation: actionOrientation,\n  risk_sensitivity: riskSensitivity,\n  requested_at: data.requested_at || new Date().toISOString(),\n  must_include_from_keyword: mustIncludeFromKeyword,\n  company_context_doc_id: companyContextDocId,\n  company_context_doc_url: companyContextDocUrl,\n  query_prompt: queryPrompt\n};\n"
      },
      "id": "7eee1857-b85e-48a0-af48-67f01f8d1bc0",
      "name": "2. Code - 입력 정리 + 검색어 생성 프롬프트",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        57216,
        1136
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/webhook/research/manual",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "084cf761-1de5-4b03-a441-ae7cadf9e109",
      "name": "1. Webhook - 리서치 실행 요청",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        56976,
        1136
      ],
      "webhookId": "research-manual-trigger-v6"
    }
  ],
  "pinData": {},
  "connections": {
    "8. Basic LLM Chain - 후보 자료 AI 평가": {
      "main": [
        [
          {
            "node": "9. Code - AI 평가 병합 + 최종 응답 구성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "9. Code - AI 평가 병합 + 최종 응답 구성": {
      "main": [
        [
          {
            "node": "10. Respond to Webhook - 결과 반환",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7-D. Code - 날짜 파싱 + 후보 병합": {
      "main": [
        [
          {
            "node": "8-A. Google Docs - 회사 맥락 문서 읽기",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini - Scoring": {
      "ai_languageModel": [
        [
          {
            "node": "8. Basic LLM Chain - 후보 자료 AI 평가",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "7-C. Code - 패스스루": {
      "main": [
        [
          {
            "node": "7-D. Code - 날짜 파싱 + 후보 병합",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7-B. Code - 날짜 미상 URL 분리": {
      "main": [
        [
          {
            "node": "7-C. Code - 패스스루",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7-A. Code - 날짜 미상 기사 분리": {
      "main": [
        [
          {
            "node": "7-B. Code - 날짜 미상 URL 분리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8-B. Code - 회사 맥락 병합 + 평가 프롬프트": {
      "main": [
        [
          {
            "node": "8. Basic LLM Chain - 후보 자료 AI 평가",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8-A. Google Docs - 회사 맥락 문서 읽기": {
      "main": [
        [
          {
            "node": "8-B. Code - 회사 맥락 병합 + 평가 프롬프트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "7. Code - 후보 정규화 + 룰 기반 1차 점수화": {
      "main": [
        [
          {
            "node": "7-A. Code - 날짜 미상 기사 분리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6-2. Merge - + Naver Web": {
      "main": [
        [
          {
            "node": "7. Code - 후보 정규화 + 룰 기반 1차 점수화",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "6-1. Merge - Serper + Naver News": {
      "main": [
        [
          {
            "node": "6-2. Merge - + Naver Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5-C-3. Code - Naver Web 결과 파싱": {
      "main": [
        [
          {
            "node": "6-2. Merge - + Naver Web",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "5-C-2. HTTP Request - Naver Web": {
      "main": [
        [
          {
            "node": "5-C-3. Code - Naver Web 결과 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5-C-1. Code - Naver Web Job 분리": {
      "main": [
        [
          {
            "node": "5-C-2. HTTP Request - Naver Web",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5-B-3. Code - Naver News 결과 파싱": {
      "main": [
        [
          {
            "node": "6-1. Merge - Serper + Naver News",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "5-B-2. HTTP Request - Naver News": {
      "main": [
        [
          {
            "node": "5-B-3. Code - Naver News 결과 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5-B-1. Code - Naver News Job 분리": {
      "main": [
        [
          {
            "node": "5-B-2. HTTP Request - Naver News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5-A-3. Code - Serper 결과 파싱": {
      "main": [
        [
          {
            "node": "6-1. Merge - Serper + Naver News",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5-A-2. HTTP Request - Serper": {
      "main": [
        [
          {
            "node": "5-A-3. Code - Serper 결과 파싱",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "5-A-1. Code - Serper Job 분리": {
      "main": [
        [
          {
            "node": "5-A-2. HTTP Request - Serper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "4. Code - 검색어 JSON 정리 + API Job 생성": {
      "main": [
        [
          {
            "node": "5-C-1. Code - Naver Web Job 분리",
            "type": "main",
            "index": 0
          },
          {
            "node": "5-B-1. Code - Naver News Job 분리",
            "type": "main",
            "index": 0
          },
          {
            "node": "5-A-1. Code - Serper Job 분리",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini - Query": {
      "ai_languageModel": [
        [
          {
            "node": "3. Basic LLM Chain - 검색어 생성",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "3. Basic LLM Chain - 검색어 생성": {
      "main": [
        [
          {
            "node": "4. Code - 검색어 JSON 정리 + API Job 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "2. Code - 입력 정리 + 검색어 생성 프롬프트": {
      "main": [
        [
          {
            "node": "3. Basic LLM Chain - 검색어 생성",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "1. Webhook - 리서치 실행 요청": {
      "main": [
        [
          {
            "node": "2. Code - 입력 정리 + 검색어 생성 프롬프트",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "9cf55796-a1d0-48f1-99ee-78de006d6f16",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1dbf02fc19e4bfd97b9fe74c58b21c46219b2aed60e7d66cdce419ae0a4d7f7e"
  },
  "id": "8ogcBGbSdKXpEKKi",
  "tags": []
}